.header-title {
  position: relative;
  background-color: #f4483e;
}
.header-title .pull-left {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  margin-left: -10px;
}
.header-title h1 {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #fff;
}
.header-title .pull-right {
  right: 10px;
  width: 42px;
  height: 100%;
  position: relative;
  margin-right: 20px;
}
.header-title .pull-right img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.product {
  background-color: #fff;
}
.product ul {
  padding-top: 10px;
  padding-bottom: 20px;
}
.product ul li {
  float: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: 1px solid #eeeeee;
  display: block;
  height: 75px;
  margin-left: 5px;
  margin-top: 5px;
  overflow: hidden;
  padding-top: 5px;
  text-align: center;
  width: 31%;
  font-size: 12px;
}
.product ul li a img {
  max-height: 50px;
  width: 50px;
  vertical-align: middle;
}
