.header-title {
  position: relative;
}
.header-title .pull-left {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  margin-left: -10px;
}
.header-title h1 {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  color: #fff;
}
.header-title .pull-right {
  right: 10px;
  width: 42px;
  height: 100%;
  position: relative;
  margin-right: 20px;
}
.header-title .pull-right img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.nav {
  position: relative;
  height: 38px;
}
.nav .filter {
  background-color: #fff;
  height: 100%;
  border-bottom: 1px solid #ccc;
}
.nav .filter ul {
  height: 100%;
}
.nav .filter ul li {
  float: left;
  width: 33.33%;
  text-align: center;
  height: 100%;
}
.nav .filter ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
}
.nav .filter ul li a i {
  display: inline-block;
  border: 6px solid #333;
  margin-left: 9px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  vertical-align: middle;
}
.nav .popbox {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  top: 38px;
  box-shadow: 0px 3px 6px #dddddd;
  display: none;
}
.nav .popbox li {
  border-bottom: 1px solid #dadada;
  border-width: 0 0 1px 0;
  position: relative;
}
.nav .popbox li a {
  display: block;
  line-height: 40px;
  padding: 0px 10px;
}
.nav .popbox li.on:after {
  content: "√";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  color: orange;
  font-size: 16px;
  font-weight: bold;
}
.nav .popbox.on {
  display: block;
  z-index: 10;
}
#product {
  background-color: #f1f1f1;
  padding: 6px 0px;
}
#product ul {
  width: 98%;
  margin: 0px auto;
}
#product ul li {
  float: left;
  width: 50%;
}
#product ul li a {
  display: block;
  margin: 4px;
  background-color: #ffffff;
}
#product ul li a .pic {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
#product ul li a .pic img {
  max-width: 100%;
}
#product ul li a .title {
  color: #333333;
  word-break: break-all;
  padding: 0 6px;
  height: 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  text-align: left;
  margin-top: 6px;
}
#product ul li a .other {
  padding: 6px;
}
#product ul li a .other .price {
  float: left;
  color: #f8601d;
  font-size: 20px;
}
#product ul li a .other .btn {
  float: right;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #ff9501;
  padding: 4px 10px;
  text-decoration: none;
  display: inline-block;
}
